* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: auto 0;
}

main {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: #FFF;
}

/**HEADER**/
header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FFF;
  height: 60px;
  width: 100%;
}
header h1 {
  font-size: 29px;
  font-weight: 100;
  margin-top: 20px;
  font-family: "Shrikhand", cursive;
}

/**RECHERCHES**/
.reservation_menus {
  background-color: #92929215;
  height: 330px;
  width: 100%;
  text-align: center;
}

form {
  width: 100%;
  height: 50px;
  background: #9191911c;
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.151);
}
form .header_form {
  padding-top: 15px;
  margin-left: 30px;
}
form .header_form--input {
  border: none;
  background: transparent;
}
form ::placeholder {
  padding-left: 5px;
  font-size: 16px;
  color: rgba(26, 26, 26, 0.808);
  font-weight: 400;
}
form :focus::placeholder {
  opacity: 0;
}

.reservation_text {
  height: 190px;
}
.reservation_text h2 {
  font-size: 23px;
  font-weight: 500;
  max-width: 270px;
  margin: 35px auto;
  margin-bottom: 0;
}
.reservation_text p {
  font-size: 17px;
  font-weight: 100;
  padding-bottom: 10px;
  padding-left: 25px;
  margin-top: 10px;
  color: rgba(78, 78, 78, 0.911);
}
.reservation_text .reservation_text--button {
  background: linear-gradient(#FF79DA, #9356DC);
  color: #FFF;
  box-shadow: 0 5px 10px rgba(48, 48, 48, 0.479);
  width: 175px;
  height: 50px;
  border-radius: 30px;
  border: none;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 20px;
  font-size: 17px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  width: 205px;
  font-size: 14px;
  margin-left: 95px;
  margin-top: 23px;
}
.reservation_text .reservation_text--button:hover {
  box-shadow: 0 5px 20px rgba(48, 48, 48, 0.993);
  background: linear-gradient(#ff79d9cc, #9256dccb);
}

/**PARTIE FONCTIONNEMENT**/
.functioning {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 440px;
}
.functioning h3 {
  padding: 55px 0 10px 20px;
  margin: 0;
  font-size: 24px;
}

.functioning_block {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 300px;
  margin-left: 30px;
  margin-bottom: 45px;
}

.functioning_block--element {
  display: flex;
  align-items: center;
  font-size: 17px;
  border-radius: 20px;
  width: 330px;
  height: 70px;
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.137);
  cursor: pointer;
  position: relative;
}
.functioning_block--element:hover {
  background: rgba(228, 215, 250, 0.527);
}
.functioning_block--element:hover .fas {
  color: #9356DC;
}
.functioning_block--element .numbers {
  border: 1px solid transparent;
  background-color: #9356DC;
  border-radius: 50%;
  width: 27px;
  height: 27px;
  text-align: center;
  line-height: 27px;
  color: #FFF;
  position: relative;
  right: 14px;
  top: 4px;
}
.functioning_block--element .fas {
  font-size: 19px;
  position: relative;
  top: 3px;
  left: 9px;
  color: rgba(68, 68, 68, 0.733);
}
.functioning_block--element .functioning_block--text {
  position: absolute;
  left: 77px;
  top: 13px;
  font-size: 17px;
  font-weight: 500;
}

/**PARTIE RESTAURANTS**/
.restaurant {
  width: 100%;
  height: 1135px;
  background-color: #99999917;
}
.restaurant h3 {
  font-size: 24px;
  padding: 55px 0 10px 20px;
  margin: 0;
}

.container_articles {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 990px;
  /**CARTES**/
}
.container_articles article {
  width: 90%;
  height: 230px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 4px 9px rgba(163, 163, 163, 0.356);
  background-color: #FFF;
  position: relative;
  /***ETIQUETTE NOUVEAU***/
}
.container_articles article .picture_Myfood img {
  object-fit: cover;
  object-position: 0 -60px;
  width: 100%;
  height: 170px;
}
.container_articles article .picture_Note img {
  object-fit: cover;
  object-position: 0 -156px;
  height: 170px;
  width: 100%;
}
.container_articles article .infos {
  height: 20px;
  margin: 5px 0 0 10px;
  line-height: 19px;
  width: 100%;
}
.container_articles article .infos h4 {
  margin: 0;
  font-size: 14px;
  color: black;
}
.container_articles article .infos p {
  margin: 0;
  font-size: 13px;
  font-weight: 100;
  color: #383838;
}
.container_articles article .container_articles--relative {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
}
.container_articles article .container_articles--relative p {
  border-radius: 2px;
  text-align: center;
  line-height: 24px;
  border: 2px solid transparent;
  background-color: #99E2D0;
  color: #008766;
  height: 28px;
  width: 75px;
  font-weight: 500;
  font-size: 13px;
  position: absolute;
  bottom: 150px;
  right: 10px;
}
.container_articles article .far {
  position: absolute;
  left: 87%;
  bottom: 23px;
  color: black;
  font-size: 22px;
  z-index: 0;
}
.container_articles article .fas {
  position: absolute;
  left: 87%;
  bottom: 23px;
  font-size: 22px;
  z-index: 1;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(#9356DC, #FF79DA);
  opacity: 0;
  width: 25px;
  cursor: pointer;
}
.container_articles article .icones:hover .far {
  transition-duration: 3s;
  opacity: 0;
}
.container_articles article .icones:hover .fas {
  transition-duration: 3s;
  opacity: 1;
}

/***FOOTER***/
footer {
  background-color: #333333;
  color: #FFF;
  display: flex;
  flex-direction: column;
}
footer h5 {
  font-family: "Shrikhand", cursive;
  font-size: 19px;
  margin-left: 30px;
  margin-bottom: 0;
  margin-top: 30px;
}
footer ul {
  list-style-type: none;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 30px;
  padding-left: 30px;
}
footer .fas {
  padding-right: 10px;
  font-size: 13px;
}

main {
  width: 100%;
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: rgba(233, 233, 233, 0.993);
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FFF;
  height: 60px;
  width: 100%;
  position: relative;
}
header .fas {
  color: black;
  position: absolute;
  right: 90%;
  top: 22px;
  font-size: 19px;
}
header h1 {
  margin-bottom: 10px;
}

img {
  object-fit: cover;
  height: 250px;
  width: 96.7%;
  transform: scale(107%, 100%);
}

.menuMyfood, .menuMyfood-Delice {
  display: flex;
  flex-direction: column;
  background-color: rgba(233, 233, 233, 0.993);
  width: 100%;
  height: 1135px;
  border-radius: 30px 30px 0 0;
  position: relative;
  bottom: 55px;
}
.menuMyfood .menuMyfood--title, .menuMyfood-Delice .menuMyfood--title {
  margin-top: 5px;
  margin-left: 15px;
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menuMyfood .menuMyfood--title h2, .menuMyfood-Delice .menuMyfood--title h2 {
  font-family: "Shrikhand", cursive;
  font-weight: 400;
  font-size: 27px;
}
.menuMyfood .menuMyfood--title .far, .menuMyfood-Delice .menuMyfood--title .far {
  font-size: 24px;
  z-index: 0;
}
.menuMyfood .menuMyfood--title .fas, .menuMyfood-Delice .menuMyfood--title .fas {
  position: absolute;
  left: 87%;
  bottom: 23px;
  font-size: 22px;
  z-index: 1;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(#9356DC, #FF79DA);
  opacity: 0;
  width: 25px;
  cursor: pointer;
  left: 82.4%;
  top: 30px;
  font-size: 25px;
  width: 35px;
  height: 35px;
}
.menuMyfood .menuMyfood--title:hover .far, .menuMyfood-Delice .menuMyfood--title:hover .far {
  transition-duration: 3s;
  opacity: 0;
}
.menuMyfood .menuMyfood--title:hover .fas, .menuMyfood-Delice .menuMyfood--title:hover .fas {
  transition-duration: 3s;
  opacity: 1;
}

.menuMyfood_list {
  margin-left: 15px;
  margin-bottom: 10px;
  /**** AGENCEMENT POUR MENU PALETTE ****/
  /**** AGENCEMENT POUR MENU DELICE ****/
}
.menuMyfood_list h3 {
  font-size: 16px;
  font-weight: 300;
  border-bottom: 3px solid #99E2D0;
  width: 11%;
  padding-bottom: 5px;
}
.menuMyfood_list .menuMyfood_list--bloc {
  /*** FAIRE UNE MIXIN ***/
  border-radius: 15px;
  height: 70px;
  width: 96%;
  background-color: #FFF;
  line-height: 0px;
  padding-left: 10px;
  margin-bottom: 15px;
  box-shadow: 0 5px 10px rgba(158, 158, 158, 0.267);
  cursor: pointer;
  display: flex;
  overflow: hidden;
}
.menuMyfood_list .menuMyfood_list--bloc .menuMyfood_list--title {
  flex-grow: 1;
  width: 180px;
}
.menuMyfood_list .menuMyfood_list--bloc .menuMyfood_list--title p, .menuMyfood_list .menuMyfood_list--bloc .menuMyfood_list--title h4 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menuMyfood_list .menuMyfood_list--bloc .menuMyfood_list--title h4 {
  font-size: 17px;
  font-weight: 500;
  padding-top: 20px;
  margin-bottom: 0px;
  margin-top: 2px;
  height: 30px;
}
.menuMyfood_list .menuMyfood_list--bloc .menuMyfood_list--title p {
  font-size: 14px;
  font-weight: 100;
  height: 25px;
  padding-top: 15px;
  margin-right: 10px;
  margin-top: 0;
}
.menuMyfood_list .menuMyfood_list--bloc .menuMyfood_list--animation {
  display: flex;
  justify-content: center;
  width: 0px;
  transition: all 1s;
  background-color: #99E2D0;
  border-radius: 0 15px 15px 0;
}
.menuMyfood_list .menuMyfood_list--bloc .menuMyfood_list--animation .fas {
  color: #FFF;
  font-size: 23px;
  transform: rotate(0deg);
  margin: auto;
}
.menuMyfood_list .menuMyfood_list--bloc:hover .menuMyfood_list--animation {
  transform-origin: right;
  visibility: visible;
  width: 70px;
}
.menuMyfood_list .menuMyfood_list--bloc:hover .menuMyfood_list--animation .fas {
  transform: rotate(360deg);
  transition: transform 0.5s;
}
.menuMyfood_list .menuMyfood_list--palettePlat p {
  max-width: 245px;
}
.menuMyfood_list .menuMyfood_list--blocDelice {
  height: 90px;
  border-radius: 15px;
  width: 96%;
  background-color: #FFF;
  padding-left: 10px;
  margin-bottom: 15px;
  box-shadow: 0 5px 10px rgba(158, 158, 158, 0.267);
  cursor: pointer;
  display: flex;
  overflow: hidden;
}
.menuMyfood_list .menuMyfood_list--blocDelice .menuMyfood_list--animation {
  display: flex;
  justify-content: center;
  width: 0px;
  transition: all 1s;
  background-color: #99E2D0;
  border-radius: 0 15px 15px 0;
}
.menuMyfood_list .menuMyfood_list--blocDelice .menuMyfood_list--animation .fas {
  color: #FFF;
  font-size: 23px;
  transform: rotate(0deg);
  margin: auto;
}
.menuMyfood_list .menuMyfood_list--blocDelice .menuMyfood_list--titleDelice {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-grow: 1;
}
.menuMyfood_list .menuMyfood_list--blocDelice .menuMyfood_list--titleDelice h4 {
  font-size: 17px;
  font-weight: 500;
  max-width: 240px;
  padding-top: 15px;
  margin-bottom: 0px;
  margin-top: 2px;
}
.menuMyfood_list .menuMyfood_list--blocDelice .menuMyfood_list--titleDelice p {
  font-size: 14px;
  font-weight: 100;
  height: 25px;
  margin: 0;
  padding-top: 3px;
}
.menuMyfood_list .menuMyfood_list--blocDelice:hover .menuMyfood_list--animation {
  transform-origin: right;
  visibility: visible;
  width: 70px;
}
.menuMyfood_list .menuMyfood_list--blocDelice:hover .menuMyfood_list--animation .fas {
  transform: rotate(360deg);
  transition: transform 0.5s;
}

/**** FIN AGENCEMENT MENU DELICE ****/
.prix {
  transform: translateY(69%);
  width: 55px;
  font-weight: 600;
}

.prix-Note {
  transform: translateY(69%);
  width: 50px;
  font-weight: 600;
  margin-left: 35px;
}

.menuMyfood--button {
  background: linear-gradient(#FF79DA, #9356DC);
  color: #FFF;
  box-shadow: 0 5px 10px rgba(48, 48, 48, 0.479);
  width: 175px;
  height: 50px;
  border-radius: 30px;
  border: none;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 20px;
  font-size: 17px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  margin-top: 25px;
}
.menuMyfood--button:hover {
  box-shadow: 0 5px 20px rgba(48, 48, 48, 0.993);
  background: linear-gradient(#ff79d9cc, #9256dccb);
}

/****** MENU NOTE ******/
.Menu_Note--img img {
  object-position: 0 -85px;
}

.menuNote {
  height: 1255px;
  display: flex;
  flex-direction: column;
  background-color: rgba(233, 233, 233, 0.993);
  width: 100%;
  border-radius: 30px 30px 0 0;
  position: relative;
  bottom: 30px;
}
.menuNote .menuNote--title {
  margin-top: 5px;
  margin-left: 15px;
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menuNote .menuNote--title .far {
  font-size: 25px;
  z-index: 0;
}
.menuNote .menuNote--title .fas {
  position: absolute;
  left: 87%;
  bottom: 23px;
  font-size: 22px;
  z-index: 1;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(#9356DC, #FF79DA);
  opacity: 0;
  width: 25px;
  cursor: pointer;
  left: 82.4%;
  top: 30px;
  font-size: 25px;
  width: 35px;
}
.menuNote .menuNote--title:hover .far {
  transition-duration: 3s;
  opacity: 0;
}
.menuNote .menuNote--title:hover .fas {
  transition-duration: 3s;
  opacity: 1;
}
.menuNote h2 {
  font-family: "Shrikhand", cursive;
  font-weight: 400;
  font-size: 27px;
}

/**** MENU DELICE ****/
.menuMyfood-Delice {
  height: 1165px;
}

/*** .menuMyfood--button {
     @include button;
     margin-top: 30px;
 }**/
/*** VERSION TABLETTE INDEX.HTML ***/
@media screen and (min-width: 640px) {
  /***HEADER***/
  header {
    height: 90px;
  }
  header h1 {
    font-size: 45px;
  }

  form .header_form {
    margin-left: 10px;
  }
  form ::placeholder {
    font-size: 19px;
  }
  form .fas {
    font-size: 21px;
  }

  /***RECHERCHES***/
  .reservation_text h2 {
    font-size: 30px;
    max-width: none;
  }
  .reservation_text p {
    font-size: 23px;
    font-weight: 100;
    color: rgba(78, 78, 78, 0.911);
  }
  .reservation_text .reservation_text--button {
    height: 65px;
    width: 300px;
    font-size: 19px;
    margin: auto;
  }

  /***PARTIE FONCTIONNEMENT***/
  .functioning {
    height: 500px;
  }
  .functioning h3 {
    font-size: 33px;
  }
  .functioning .functioning_block {
    align-items: center;
    height: 400px;
    width: 500px;
    margin: auto;
  }
  .functioning .functioning_block--element {
    width: 550px;
    height: 90px;
    margin-bottom: 25px;
  }
  .functioning .functioning_block--element .fas {
    font-size: 25px;
    top: 4px;
    left: 20px;
  }
  .functioning .functioning_block--element .functioning_block--text {
    left: 115px;
    top: 5px;
    font-size: 29px;
    font-weight: 500;
  }

  /***PARTIE RESTAURANTS***/
  .restaurant {
    width: 100%;
    height: 1750px;
    background-color: #99999917;
  }
  .restaurant h3 {
    font-size: 33px;
  }
  .restaurant .container_articles {
    height: 1600px;
  }
  .restaurant article {
    height: 365px;
  }
  .restaurant article .picture_Myfood {
    height: 78%;
  }
  .restaurant article .picture_Myfood img {
    object-position: 0 -110px;
    height: 100%;
  }
  .restaurant article .picture_Note {
    height: 78%;
  }
  .restaurant article .picture_Note img {
    object-position: 0 -336px;
    height: 100%;
  }
  .restaurant article .infos {
    line-height: 30px;
    height: 60px;
  }
  .restaurant article .infos h4 {
    margin-top: 10px;
    font-size: 21px;
  }
  .restaurant article .infos p {
    font-size: 19px;
  }
  .restaurant article .container_articles--relative p {
    line-height: 32px;
    height: 36px;
    width: 90px;
    bottom: 290px;
    right: 20px;
    font-size: 17px;
  }
  .restaurant article .far {
    left: 90%;
    bottom: 25px;
    font-size: 25px;
  }
  .restaurant article .fas {
    left: 90%;
    bottom: 25px;
    font-size: 25px;
  }

  footer h5 {
    font-size: 25px;
  }
  footer ul {
    height: 150px;
    font-size: 23px;
  }
  footer .fas {
    font-size: 19px;
  }
}
/*** VERSION DESKTOP INDEX.HTML ***/
@media screen and (min-width: 1050px) {
  form .header_form {
    margin-left: 10px;
  }

  .functioning h3 {
    text-align: center;
  }
  .functioning .functioning_block--element .numbers {
    border: 1px solid transparent;
    background-color: #9356DC;
    border-radius: 50%;
    width: 27px;
    height: 27px;
    text-align: center;
    line-height: 27px;
    color: #FFF;
    position: relative;
    right: 14px;
    top: 4px;
    width: 35px;
    height: 35px;
    line-height: 35px;
  }

  /***PARTIE RESTAURANTS***/
  .restaurant {
    width: 100%;
    height: 950px;
    background-color: #99999917;
    text-align: center;
  }
  .restaurant h3 {
    font-size: 33px;
  }
  .restaurant .container_articles {
    margin: 0 15px 0 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 800px;
  }
  .restaurant .container_articles article {
    width: 46%;
    height: 355px;
  }
  .restaurant .container_articles article .picture_Myfood {
    height: 280px;
  }
  .restaurant .container_articles article .picture_Myfood img {
    object-position: 0 0;
    height: 100%;
  }
  .restaurant .container_articles article .picture_Note {
    height: 280px;
  }
  .restaurant .container_articles article .picture_Note img {
    object-position: 0 -200px;
    width: 100%;
  }
  .restaurant .container_articles article .infos {
    height: 60px;
    line-height: 30px;
    margin-left: 0;
  }
  .restaurant .container_articles article .infos h4 {
    font-size: 21px;
  }
  .restaurant .container_articles article .infos p {
    font-size: 19px;
  }
  .restaurant .container_articles article .container_articles--relative {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
  }
  .restaurant .container_articles article .container_articles--relative p {
    border-radius: 2px;
    text-align: center;
    line-height: 24px;
    border: 2px solid transparent;
    background-color: #99E2D0;
    color: #008766;
    height: 28px;
    width: 75px;
    font-weight: 500;
    font-size: 13px;
    position: absolute;
    bottom: 150px;
    right: 10px;
  }
  .restaurant .container_articles article .container_articles--relative p {
    line-height: 30px;
    height: 34px;
    width: 90px;
    bottom: 290px;
    right: 20px;
    font-size: 17px;
  }
  .restaurant .container_articles article .far {
    left: 91%;
    bottom: 23px;
    font-size: 25px;
  }
  .restaurant .container_articles article .fas {
    left: 91%;
    bottom: 23px;
    font-size: 25px;
  }

  footer {
    text-align: center;
  }
}
/*** VERSION TABLETTE MENUS.HTML ***/
@media screen and (min-width: 640px) {
  header {
    position: relative;
  }
  header .fas {
    position: absolute;
    top: 37px;
    right: 92%;
    font-size: 30px;
  }

  img {
    object-fit: cover;
    width: 96.6%;
    height: 250px;
  }

  .menuMyfood, .menuMyfood-Delice {
    height: 1370px;
  }
  .menuMyfood .menuMyfood--title, .menuMyfood-Delice .menuMyfood--title {
    text-align: center;
    justify-content: center;
    width: 96.5%;
  }
  .menuMyfood .menuMyfood--title h2, .menuMyfood-Delice .menuMyfood--title h2 {
    font-size: 30px;
  }
  .menuMyfood .menuMyfood--title .far, .menuMyfood-Delice .menuMyfood--title .far {
    font-size: 25px;
    position: relative;
    left: 20px;
    z-index: 0;
  }
  .menuMyfood .menuMyfood--title .fas, .menuMyfood-Delice .menuMyfood--title .fas {
    position: relative;
    left: -10px;
    top: 0px;
    font-size: 26px;
    z-index: 1;
  }

  .menuMyfood-Delice {
    height: 1385px;
  }

  .menuMyfood_list {
    width: 100%;
    margin: 0;
  }
  .menuMyfood_list h3 {
    margin-left: 35px;
    font-size: 21px;
    width: 7%;
  }
  .menuMyfood_list .menuMyfood_list--bloc {
    margin: auto;
    height: 80px;
    width: 70%;
    line-height: 0px;
    padding-left: 10px;
    margin-bottom: 25px;
    box-shadow: 0 5px 10px rgba(158, 158, 158, 0.267);
  }
  .menuMyfood_list .menuMyfood_list--bloc h4 {
    margin-top: 10px;
    font-size: 21px;
    font-weight: 500;
  }
  .menuMyfood_list .menuMyfood_list--bloc p {
    max-width: 345px;
    font-size: 19px;
    font-weight: 100;
  }
  .menuMyfood_list .prix {
    font-weight: 600;
  }

  .menuMyfood_list .menuMyfood_list--blocDelice {
    height: 110px;
    width: 70%;
    margin: 25px auto;
  }
  .menuMyfood_list .menuMyfood_list--blocDelice h4 {
    margin-top: 20px;
    font-size: 21px;
    font-weight: 500;
    padding-top: 0;
  }
  .menuMyfood_list .menuMyfood_list--blocDelice p {
    font-size: 19px;
    font-weight: 100;
  }

  /***** MENU NOTE *****/
  .menuNote {
    height: 1490px;
  }
  .menuNote .menuNote--title {
    text-align: center;
    justify-content: center;
    width: 96.5%;
  }
  .menuNote .menuNote--title h2 {
    font-size: 30px;
  }
  .menuNote .menuNote--title .far {
    font-size: 25px;
    position: relative;
    left: 20px;
    z-index: 0;
  }
  .menuNote .menuNote--title .fas {
    position: relative;
    left: -10px;
    top: 0px;
    font-size: 26px;
    z-index: 1;
  }

  footer {
    text-align: center;
  }
}
/*** VERSION DESKTOP MENUS.HTML ***/
@media screen and (min-width: 1050px) {
  header {
    position: relative;
  }
  header .fas {
    position: absolute;
    right: 93%;
    top: 30px;
    font-size: 40px;
  }

  img {
    object-fit: cover;
    height: 400px;
    width: 96.6%;
    object-position: 0;
  }

  .menuMyfood {
    height: 1370px;
  }
  .menuMyfood .menuMyfood--title {
    margin-top: 5px;
    margin-left: 15px;
    text-align: center;
    width: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 96.5%;
    cursor: pointer;
  }
  .menuMyfood .menuMyfood--title h2 {
    font-size: 40px;
  }
  .menuMyfood .menuMyfood--title .far {
    font-size: 25px;
    position: relative;
    left: 20px;
  }
  .menuMyfood .menuMyfood_list {
    width: 96.5%;
    margin-left: 15px;
  }
  .menuMyfood .menuMyfood_list h3 {
    font-size: 21px;
    width: 4%;
    margin-left: 5px;
  }

  /*** MENU NOTE ***/
  .menuNote {
    height: 1485px;
  }
  .menuNote .menuNote--title {
    margin-top: 5px;
    margin-left: 15px;
    text-align: center;
    width: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .menuNote h2 {
    font-size: 40px;
  }
  .menuNote .far {
    font-size: 25px;
    position: relative;
    left: 20px;
  }

  /*** FIN MENU NOTE ***/
  .menuMyfood_list {
    margin-left: 15px;
  }
  .menuMyfood_list h3 {
    font-size: 21px;
    font-weight: 700;
    width: 4%;
    margin-right: 0;
    position: relative;
    top: 50%;
    left: 2%;
  }
  .menuMyfood_list .menuMyfood_list--bloc {
    height: 75px;
    width: 70%;
    margin: auto;
    line-height: 0px;
    padding-left: 10px;
    margin-bottom: 30px;
  }
  .menuMyfood_list .menuMyfood_list--bloc h4 {
    font-size: 21px;
    margin-top: 9px;
    height: 35px;
  }
  .menuMyfood_list .menuMyfood_list--bloc p {
    max-width: 295px;
    padding-top: 10px;
    font-size: 17px;
  }
  .menuMyfood_list .menuMyfood_list--bloc .prix {
    top: 35px;
  }
}
/*** AGENCEMENT PHOTOS INDEX.HTML ***/
@media screen and (min-width: 1200px) {
  .restaurant article .picture_Myfood img {
    object-position: 0 -90px;
  }
  .restaurant article .picture_Note img {
    object-position: 0 -250px;
  }
}
@media screen and (min-width: 1500px) {
  .restaurant article .picture_Myfood img {
    object-position: 0 -150px;
  }
  .restaurant article .picture_Note img {
    object-position: 0 -350px;
  }
}
/***** KEYFRAMES !!!!!!!!***/
@keyframes teste1 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes teste2 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  55% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes teste3 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  80% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Note4 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  0% {
    opacity: 0.2;
  }
  /** 90 ? **/
  100% {
    opacity: 1;
  }
}
@keyframes menuTeste {
  from {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  80% {
    opacity: 0.3;
  }
  90% {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
/*** LISTES ENTREE ETC ***/
.menuMyfood_list--1 {
  animation-name: menuTeste;
  animation-duration: 1s;
}

.menuMyfood_list--2 {
  animation-name: menuTeste;
  animation-duration: 2s;
}

.menuMyfood_list--3 {
  animation-name: menuTeste;
  animation-duration: 3s;
}

.menuMyfood_list--bloc_Note {
  animation-name: Note4;
  animation-duration: 1.5s;
}

/*** DIV INFORMATIONS ***/
.menuMyfood_list--bloc_1 {
  animation-name: teste1;
  animation-duration: 1.5s;
}

.menuMyfood_list--bloc_2 {
  animation-name: teste2;
  animation-duration: 1.5s;
}

.menuMyfood_list--bloc_3 {
  animation-name: teste3;
  animation-duration: 1.5s;
}

.menuMyfood_list--bloc_4 {
  animation-name: teste1;
  animation-duration: 2.5s;
}

.menuMyfood_list--bloc_5 {
  animation-name: teste2;
  animation-duration: 2.5s;
}

.menuMyfood_list--bloc_6 {
  animation-name: teste3;
  animation-duration: 2.5s;
}

.menuMyfood_list--bloc_7 {
  animation-name: teste1;
  animation-duration: 3.5s;
}

.menuMyfood_list--bloc_8 {
  animation-name: teste2;
  animation-duration: 3.5s;
}

.menuMyfood_list--bloc_9 {
  animation-name: teste3;
  animation-duration: 3.5s;
}

/*** LOADER SPINNER ***/
.loader {
  font-size: 35px;
  text-align: center;
  background: white;
  height: 100vh;
  width: 100%;
  position: fixed;
  animation: loaderSpinner 1.5s;
  opacity: 0;
  z-index: 1;
  visibility: hidden;
}
.loader p {
  margin-top: 45vh;
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  background-image: linear-gradient(#FF79DA, #9356DC);
}

.loader-spinner {
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 50%;
  border: 3px solid #9356DC;
  position: relative;
  top: 45vh;
}

.loader-spinner:after {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  bottom: -3px;
  right: -3px;
  border: 3px solid transparent;
  border-radius: 50%;
  border-top-color: #FF79DA;
  animation: rotate 3s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(720deg);
  }
}
@keyframes loaderSpinner {
  to {
    opacity: 1;
    visibility: visible;
  }
  from {
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
