* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  margin: 0;
}

main {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: #FFF;
  -webkit-tap-highlight-color: transparent;
}

/**HEADER**/
header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FFF;
  height: 55px;
  width: 100%;
}
header h1 {
  font-size: 27px;
  margin-top: 20px;
  font-family: "Shrikhand", cursive;
}

/**RECHERCHES**/
.reservation_menus {
  background-color: #ddd9d942;
  height: 300px;
  width: 100%;
  text-align: center;
}

form {
  width: 100%;
  height: 50px;
  background: #9191911c;
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.151);
}
form .header_form {
  padding-top: 15px;
  margin-left: 40px;
}
form .header_form--input {
  border: none;
  outline: none;
  background: transparent;
}
form ::placeholder {
  font-size: 16px;
  color: rgba(26, 26, 26, 0.808);
  font-weight: 400;
}
form :focus::placeholder {
  opacity: 0;
}

.reservation_text h2 {
  font-size: 23px;
  max-width: 270px;
  margin: 35px auto;
  margin-bottom: 0;
}
.reservation_text p {
  font-size: 17px;
  font-weight: 100;
  color: rgba(78, 78, 78, 0.911);
}
.reservation_text .reservation_text--button {
  background-color: #C968DB;
  border-radius: 30px;
  height: 45px;
  width: 200px;
  border: none;
  box-shadow: 2px 6px 10px rgba(129, 129, 129, 0.616);
  color: #FFF;
  font-size: 14px;
  cursor: pointer;
}

/**PARTIE FONCTIONNEMENT**/
.functioning {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.functioning h3 {
  padding: 40px 0 10px 20px;
  margin: 0;
  font-size: 24px;
}

.functioning_block {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 300px;
  margin-left: 30px;
  margin-bottom: 45px;
}

.functioning_block--element {
  display: flex;
  align-items: center;
  font-size: 17px;
  border-radius: 20px;
  width: 330px;
  height: 70px;
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.137);
  cursor: pointer;
}
.functioning_block--element .numbers {
  border: 1px solid transparent;
  background-color: #9356DC;
  border-radius: 50%;
  width: 27px;
  height: 27px;
  text-align: center;
  line-height: 27px;
  color: #FFF;
  position: relative;
  right: 14px;
  top: 4px;
}
.functioning_block--element .fas {
  font-size: 19px;
  max-width: 3px;
  position: relative;
  top: 1px;
  left: 5px;
  color: rgba(68, 68, 68, 0.733);
}
.functioning_block--element .functioning_block--text {
  position: relative;
  left: 43px;
  top: 3px;
  font-size: 17px;
  font-weight: 500;
}

/**PARTIE RESTAURANTS**/
.restaurant {
  width: 100%;
  height: 1130px;
  background-color: #99999917;
}
.restaurant h3 {
  font-size: 24px;
  padding: 40px 0 10px 20px;
  margin: 0;
}

.container_articles {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 990px;
}

/**CARTES**/
article {
  width: 90%;
  height: 230px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 4px 9px rgba(163, 163, 163, 0.356);
  background-color: #FFF;
  position: relative;
}
article .picture_Myfood img {
  object-fit: cover;
  object-position: 0 -60px;
  width: 100%;
  height: 170px;
}
article .picture_Note img {
  object-fit: cover;
  object-position: 0 -156px;
  height: 170px;
  width: 100%;
}
article .infos {
  height: 20px;
  margin: 7px 0 0 10px;
  line-height: 19px;
  width: 100%;
}
article h4 {
  margin: 0;
  font-size: 14px;
  color: black;
}
article p {
  margin: 0;
  font-size: 13px;
  font-weight: 100;
  color: #383838;
}
article .far {
  position: absolute;
  left: 90%;
  bottom: 27px;
  color: black;
}

/**ETIQUETTE NOUVEAU**/
.container_articles--relative {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
}
.container_articles--relative p {
  border-radius: 2px;
  text-align: center;
  line-height: 22px;
  border: 2px solid transparent;
  background-color: #99E2D0;
  color: rgba(52, 85, 37, 0.986);
  height: 25px;
  width: 70px;
  font-weight: 500;
  position: absolute;
  bottom: 169px;
  right: 10px;
}

/**FOOTER**/
footer {
  background-color: #333333;
  color: #FFF;
  display: flex;
  flex-direction: column;
}
footer h5 {
  font-family: "Shrikhand", cursive;
  font-size: 19px;
  margin-left: 30px;
  margin-bottom: 0;
  margin-top: 30px;
}
footer ul {
  list-style-type: none;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 30px;
  padding-left: 30px;
}
footer .fas {
  padding-right: 10px;
  font-size: 13px;
}

main {
  width: 100%;
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: rgba(233, 233, 233, 0.993);
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FFF;
  height: 55px;
  width: 100%;
  position: relative;
}
header .fas {
  color: black;
  position: absolute;
  right: 90%;
  top: 22px;
  font-size: 19px;
}
header h1 {
  margin-bottom: 5px;
}

img {
  object-fit: cover;
  height: 250px;
  width: 100%;
  transform: scale(110%, 100%);
}

.menuMyfood {
  display: flex;
  flex-direction: column;
  background-color: rgba(233, 233, 233, 0.993);
  width: 100%;
  height: 1070px;
  border-radius: 30px 30px 0 0;
  position: relative;
  bottom: 55px;
}
.menuMyfood .menuMyfood--title {
  margin-top: 5px;
  margin-left: 15px;
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menuMyfood .menuMyfood--title h2 {
  font-family: "Shrikhand", cursive;
  font-weight: 400;
  font-size: 27px;
}
.menuMyfood .menuMyfood--title .far {
  font-size: 25px;
}

.menuMyfood_list {
  margin-left: 15px;
}
.menuMyfood_list h3 {
  font-size: 16px;
  font-weight: 300;
  border-bottom: 3px solid #99E2D0;
  width: 11%;
}
.menuMyfood_list .menuMyfood_list--bloc {
  border: 2px solid transparent;
  border-radius: 15px;
  height: 67px;
  width: 96%;
  background-color: #FFF;
  line-height: 0px;
  padding-bottom: 15px;
  padding-left: 10px;
  margin-bottom: 15px;
  box-shadow: 0 5px 10px rgba(158, 158, 158, 0.267);
  position: relative;
  cursor: pointer;
}
.menuMyfood_list h4 {
  font-size: 17px;
  font-weight: 500;
}
.menuMyfood_list p {
  font-size: 14px;
  font-weight: 100;
}
.menuMyfood_list .prix {
  position: absolute;
  left: 88%;
  font-weight: 600;
}

.menuMyfood--button {
  background-color: #C968DB;
  color: #FFF;
  box-shadow: 0 5px 10px rgba(48, 48, 48, 0.479);
  width: 175px;
  height: 50px;
  border-radius: 30px;
  border: none;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 35px;
  font-size: 17px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.menuNote {
  height: 1185px;
  display: flex;
  flex-direction: column;
  background-color: rgba(233, 233, 233, 0.993);
  width: 100%;
  border-radius: 30px 30px 0 0;
  position: relative;
  bottom: 30px;
}
.menuNote .menuNote--title {
  margin-top: 5px;
  margin-left: 15px;
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menuNote h2 {
  font-family: "Shrikhand", cursive;
  font-weight: 400;
  font-size: 27px;
}
.menuNote .far {
  font-size: 25px;
}
.menuNote .menuMyfood--button {
  background-color: #C968DB;
  color: #FFF;
  box-shadow: 0 5px 10px rgba(48, 48, 48, 0.479);
  width: 175px;
  height: 50px;
  border-radius: 30px;
  border: none;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 35px;
  font-size: 17px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  margin-top: 35px;
}

/*** VERSION TABLETTE INDEX.HTML ***/
@media screen and (min-width: 640px) {
  /**HEADER**/
  header {
    height: 90px;
  }
  header h1 {
    font-size: 45px;
  }

  form .header_form {
    margin-left: 10px;
  }
  form ::placeholder {
    font-size: 21px;
  }
  form .fas {
    font-size: 21px;
  }

  /**RECHERCHES**/
  .reservation_text h2 {
    font-size: 30px;
    max-width: none;
  }
  .reservation_text p {
    font-size: 23px;
    font-weight: 100;
    color: rgba(78, 78, 78, 0.911);
  }
  .reservation_text .reservation_text--button {
    height: 65px;
    width: 300px;
    font-size: 19px;
  }

  form ::placeholder {
    font-size: 19px;
  }

  /**PARTIE FONCTIONNEMENT**/
  .functioning {
    height: 500px;
  }
  .functioning h3 {
    font-size: 33px;
  }
  .functioning .functioning_block {
    align-items: center;
    height: 400px;
    width: 500px;
    margin: auto;
  }
  .functioning .functioning_block--element {
    width: 550px;
    height: 90px;
    margin-bottom: 25px;
  }
  .functioning .functioning_block--element .fas {
    font-size: 23px;
    top: 1px;
    left: 20px;
  }
  .functioning .functioning_block--element .functioning_block--text {
    left: 80px;
    font-size: 27px;
    font-weight: 500;
  }

  /**PARTIE RESTAURANTS**/
  .restaurant {
    width: 100%;
    height: 1750px;
    background-color: #99999917;
  }
  .restaurant h3 {
    font-size: 33px;
  }
  .restaurant .container_articles {
    height: 1600px;
  }
  .restaurant article {
    height: 365px;
    box-shadow: 0px 7px 10px rgba(46, 46, 46, 0.932);
  }
  .restaurant article .picture_Myfood {
    height: 78%;
  }
  .restaurant article .picture_Myfood img {
    object-position: 0 -110px;
    height: 100%;
  }
  .restaurant article .picture_Note {
    height: 78%;
  }
  .restaurant article .picture_Note img {
    object-position: 0 -336px;
    height: 100%;
  }
  .restaurant article .infos {
    line-height: 30px;
    height: 60px;
  }
  .restaurant article h4 {
    font-size: 21px;
  }
  .restaurant article p {
    font-size: 19px;
  }
  .restaurant article .far {
    left: 95%;
    bottom: 23px;
    font-size: 25px;
  }
  .restaurant .container_articles--relative {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
  }
  .restaurant .container_articles--relative p {
    height: 25px;
    width: 90px;
    bottom: 310px;
    right: 20px;
  }

  footer h5 {
    font-size: 25px;
  }
  footer ul {
    height: 150px;
    font-size: 23px;
  }
  footer .fas {
    font-size: 19px;
  }
}
/** VERSION DESKTOP INDEX.HTML**/
@media screen and (min-width: 1050px) {
  form .header_form {
    margin-left: 10px;
  }

  .functioning h3 {
    text-align: center;
  }
  .functioning .functioning_block--element {
    box-shadow: 0 7px 11px black;
  }

  /**PARTIE RESTAURANTS**/
  .restaurant {
    width: 100%;
    height: 950px;
    background-color: #99999917;
    text-align: center;
  }
  .restaurant h3 {
    font-size: 33px;
  }
  .restaurant .container_articles {
    margin: 0 15px 0 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 800px;
  }
  .restaurant article {
    width: 46%;
    height: 355px;
    box-shadow: 0px 7px 10px rgba(46, 46, 46, 0.932);
  }
  .restaurant article .picture_Myfood {
    height: 280px;
  }
  .restaurant article .picture_Myfood img {
    object-position: 0 0;
    height: 100%;
    object-fit: cover;
  }
  .restaurant article .picture_Note {
    height: 280px;
  }
  .restaurant article .picture_Note img {
    object-position: 0 0;
    width: 100%;
  }
  .restaurant article .infos {
    height: 60px;
    line-height: 30px;
  }
  .restaurant article h4 {
    font-size: 21px;
  }
  .restaurant article p {
    font-size: 19px;
  }
  .restaurant article .far {
    left: 91%;
    bottom: 23px;
    font-size: 25px;
  }
  .restaurant .container_articles--relative {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
  }
  .restaurant .container_articles--relative p {
    height: 25px;
    width: 90px;
    bottom: 305px;
    right: 20px;
  }

  footer {
    text-align: center;
  }
}
/*** VERSION TABLETTE MENUS.HTML ***/
@media screen and (min-width: 640px) {
  header {
    position: relative;
  }
  header .fas {
    position: absolute;
    top: 37px;
    right: 92%;
    font-size: 30px;
  }

  img {
    object-fit: cover;
    width: 100%;
    height: 250px;
  }

  .menuMyfood {
    height: 1370px;
  }
  .menuMyfood .menuMyfood--title {
    text-align: center;
    justify-content: center;
    width: 100%;
  }
  .menuMyfood .menuMyfood--title h2 {
    font-size: 30px;
  }
  .menuMyfood .menuMyfood--title .far {
    font-size: 25px;
    position: relative;
    left: 20px;
  }

  .menuMyfood_list {
    width: 100%;
    margin: 0;
  }
  .menuMyfood_list h3 {
    margin-left: 35px;
    font-size: 21px;
    width: 7%;
  }
  .menuMyfood_list .menuMyfood_list--bloc {
    margin: auto;
    height: 80px;
    width: 70%;
    line-height: 0px;
    padding-bottom: 15px;
    padding-left: 10px;
    margin-bottom: 25px;
    box-shadow: 0 5px 10px rgba(158, 158, 158, 0.267);
    position: relative;
  }
  .menuMyfood_list h4 {
    font-size: 21px;
    font-weight: 500;
  }
  .menuMyfood_list p {
    font-size: 19px;
    font-weight: 100;
  }
  .menuMyfood_list .prix {
    position: absolute;
    left: 88%;
    font-weight: 600;
  }

  footer {
    text-align: center;
  }
}
/*** VERSION DESKTOP MENUS.HTML ***/
@media screen and (min-width: 1050px) {
  header {
    position: relative;
  }
  header .fas {
    position: absolute;
    right: 93%;
    top: 30px;
    font-size: 40px;
  }

  img {
    object-fit: cover;
    height: 400px;
    width: 100%;
    object-position: 0;
  }

  .menuMyfood {
    height: 1370px;
  }
  .menuMyfood .menuMyfood--title {
    margin-top: 5px;
    margin-left: 15px;
    text-align: center;
    width: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .menuMyfood .menuMyfood--title h2 {
    font-size: 40px;
  }
  .menuMyfood .menuMyfood--title .far {
    font-size: 25px;
    position: relative;
    left: 20px;
  }
  .menuMyfood .menuMyfood_list {
    width: 100%;
    margin-left: 5px;
  }
  .menuMyfood .menuMyfood_list h3 {
    font-size: 21px;
    width: 4%;
    margin-left: 5px;
  }

  /*** MENU NOTE ***/
  .menuNote {
    height: 1485px;
  }
  .menuNote .menuNote--title {
    margin-top: 5px;
    margin-left: 15px;
    text-align: center;
    width: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .menuNote h2 {
    font-size: 40px;
  }
  .menuNote .far {
    font-size: 25px;
    position: relative;
    left: 20px;
  }

  /*** FIN MENU NOTE ***/
  .menuMyfood_list {
    margin-left: 15px;
  }
  .menuMyfood_list h3 {
    font-size: 21px;
    font-weight: 700;
    width: 4%;
    margin-right: 0;
    position: relative;
    top: 50%;
    left: 2%;
  }
  .menuMyfood_list .menuMyfood_list--bloc {
    height: 75px;
    width: 70%;
    margin: auto;
    line-height: 0px;
    padding-bottom: 15px;
    padding-left: 10px;
    margin-bottom: 30px;
    box-shadow: 0 5px 10px rgba(73, 73, 73, 0.781);
    position: relative;
  }
  .menuMyfood_list .menuMyfood_list--bloc h4 {
    font-size: 21px;
  }
  .menuMyfood_list .menuMyfood_list--bloc p {
    font-size: 17px;
  }
  .menuMyfood_list .menuMyfood_list--bloc .prix {
    position: absolute;
    left: 95%;
    top: 35px;
  }
}
/*** AGENCEMENT PHOTOS INDEX.HTML ***/
@media screen and (min-width: 1350px) {
  .restaurant article img {
    object-position: 0 -90px;
  }
  .restaurant article .picture_Note img {
    object-position: 0 -350px;
  }
}

/*# sourceMappingURL=style.css.map */
