@import "./variables.scss";
@import "./mixins.scss";

* {
   box-sizing: border-box;
   -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
    margin: auto 0;
  }
  
main {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
a {
    text-decoration: none;
    color:#FFF;
    -webkit-tap-highlight-color: transparent;
}


/**HEADER**/
header {
    @include header;
    
    h1{
        font-size: 29px;
        font-weight: 100;
        margin-top: 20px;
        font-family: 'Shrikhand', cursive;
    }
}

/**RECHERCHES**/
.reservation_menus{
    background-color: #92929215;
    height: 330px;
    width: 100%;
    text-align: center;
}

    form {
        width: 100%;
        height: 50px;
        background: #9191911c;
        box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.151);
    
        .header_form {
        padding-top: 15px;
        margin-left: 30px;
        }

        .header_form--input{
            border: none;
            outline: none;
            background: transparent;
        }

        & ::placeholder {
            padding-left: 5px;
            font-size: 16px;
            color: rgba(26, 26, 26, 0.808);
            font-weight: 400;
        }
   
        :focus::placeholder {
        opacity: 0;
        }
}

    .reservation_text {
        
        height: 190px;
    
        & h2 { 
            font-size: 23px;
            font-weight: 500;
            max-width: 270px;
            margin: 35px auto;
            margin-bottom: 0;
            }
        & p {
        
            font-size: 17px ;
            font-weight: 100;
            padding-bottom: 10px;
            padding-left: 25px;
            margin-top: 10px;
            color: rgba(78, 78, 78, 0.911);
        }   

        & .reservation_text--button {
            @include button;
            width: 205px;
            font-size: 14px;
            margin-left: 95px;
        }
}

/**PARTIE FONCTIONNEMENT**/
.functioning {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 440px;

    & h3 {
        padding: 55px 0 10px 20px ;
        margin: 0;
        font-size: $title-size;
        }
    }

    .functioning_block {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 300px;
        margin-left: 30px;
        margin-bottom: 45px
    }
    
    .functioning_block--element {
        @include tabs;
        position: relative;
        -webkit-tap-highlight-color: transparent;
        
        &:hover {
            background: rgba(228, 215, 250, 0.527);
            & .fas {
                color: $primary-color;
            }
        }
        
        & .numbers {
            @include cercle; 
        }

        & .fas {
            font-size: 19px;
            position: relative;
            top: 3px;
            left: 9px;
            color: rgba(68, 68, 68, 0.733);
        }

        & .functioning_block--text {
           position: absolute;
           left: 77px;
           top: 13px;
           font-size: 17px;
           font-weight: 500;
        }

    }

/**PARTIE RESTAURANTS**/
.restaurant {
    width: 100%;
    height: 1135px;
    background-color: #99999917;

    h3 {
        font-size: $title-size;
        padding: 55px 0 10px 20px ;
        margin: 0;
        }
    }

    .container_articles{
        display: flex;
        flex-direction: column;
       align-items: center;
       justify-content: space-around;
       height: 990px;
       
    }
/**CARTES**/
    article {
        width: 90%;
        height: 230px;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0px 4px 9px rgba(163, 163, 163, 0.356);
        background-color: #FFF;
        position: relative;

        .picture_Myfood img {
                object-fit: cover;
                object-position: 0 -60px ;
                width: 100%;  
                height: 170px;
        }

            .picture_Note img{ 
                object-fit: cover;
                object-position: 0 -156px ;
                height: 170px;
                width: 100%;  
            }

            .infos {
                height: 20px;
                margin: 5px 0 0 10px;
                line-height: 19px;
                width: 100%;
            }

            & h4 {
                margin: 0;
                font-size: 14px;
                color: black;
            }

            & p {
                margin: 0;
                font-size: 13px;
                font-weight: 100;
                color: rgb(56, 56, 56);
            }
       
            & .far {
                position: absolute;
                left: 87%;
                bottom: 25px;
                color: black;
                font-size: 22px;
            }     

}
/**ETIQUETTE NOUVEAU**/

.container_articles--relative {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
        
    & p {
        border-radius: 2px;
        text-align: center;
        line-height: 22px;
        border: 2px solid transparent;
        background-color: $tertiary-color;
        color: rgba(-0, 135, 102, 1);
        height: 26px;
        width: 75px;
        font-weight: 400;
        position: absolute;
        bottom: 164px;
        right: 10px;
        }

}

/**FOOTER**/
footer {
    background-color: rgb(51, 51, 51);
    color: #FFF;
    display: flex;
    flex-direction: column;
        
    h5 {
        font-family: 'Shrikhand', cursive;
        font-size: 19px;
        margin-left: 30px;
        margin-bottom: 0;
        margin-top: 30px;
    }

    ul {
        list-style-type: none;
        height: 120px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-bottom: 30px;
        padding-left: 30px;
    }

    & .fas {
        padding-right: 10px;
        font-size: 13px;
    }

}





    
    
    

