 /***** KEYFRAMES !!!!!!!!***/
 @keyframes teste1 {
    0% {
        opacity: 0;
    }
    20%{opacity: 0.2;}
    50%{opacity: 1;}
    100% { 
        opacity: 1;
    }
}
@keyframes teste2 {
    0% {
        opacity: 0;
    }
    20%{opacity: 0;}
    
    55% { 
        opacity: 0.2;
    }
    
    100% { 
        opacity: 1;
    }
}
@keyframes teste3 {
    0% { opacity: 0;}
    20%{opacity: 0;}
    30%{opacity: 0;}
    60% { 
        opacity: 0;
    }
    70% {opacity: 0;}
    80%{opacity: 0.2;}

    100% { opacity: 1;}
}

@keyframes Note4 {
    0% { opacity: 0;}
    20%{opacity: 0;}
    30%{opacity: 0;}
    60% { 
        opacity: 0;
    }
    70% {opacity: 0;}
    80%{opacity: 0;}
    0%{opacity: 0.2;}

    100% { opacity: 1;}
}


@keyframes menuTeste{
from {
        opacity: 0;
    }
    70%{opacity: 0;}
    80%{opacity: 0.3;}
    90%{opacity: 0.5;

    }
 to {
     opacity: 1;
 }
}

 /**** LISTES ENTREE ETC ***/

   .menuMyfood_list--1{
    animation-name: menuTeste ;
    animation-duration: 1s;
    }
    
    .menuMyfood_list--2{
        animation-name: menuTeste ;
       animation-duration: 2s;
    }
    
    .menuMyfood_list--3{
        animation-name: menuTeste ;
       animation-duration:3s;
     
    }

    .menuMyfood_list--bloc_Note {
            animation-name: Note4;
            animation-duration: 1.5s;
    }    
        
  /**DIV INFORMATIONS ****/
   .menuMyfood_list--bloc_1 {
        animation-name: teste1;
        animation-duration: 1.5s;
    }
    .menuMyfood_list--bloc_2 { 
       animation-name: teste2;
        animation-duration: 1.5s;
    }
    
    .menuMyfood_list--bloc_3 {
        animation-name: teste3;
        animation-duration: 1.5s;
    }
    
    .menuMyfood_list--bloc_4 {
        animation-name: teste1;
        animation-duration: 2.5s;
        
    }
    .menuMyfood_list--bloc_5 {
        animation-name: teste2;
        animation-duration: 2.5s;
        
    }
    .menuMyfood_list--bloc_6 {
        animation-name: teste3;
        animation-duration: 2.5s;
    
    }
    .menuMyfood_list--bloc_7 {
        animation-name: teste1;
        animation-duration: 3.5s;
       
    }
    .menuMyfood_list--bloc_8 {
        animation-name: teste2;
        animation-duration: 3.5s;
       
    }
    .menuMyfood_list--bloc_9 {
        animation-name: teste3;
        animation-duration: 3.5s;
    }



    /*** LOADER SPINNER ***/

.loader {
    font-size: 35px;
    text-align: center;
    background: rgba(255, 255, 255, 0.805) ;
    height: 100vh;
    width: 100%;
    position: fixed;
    animation: loaderSpinner 3s ;
    opacity: 0;
    z-index: 1;
    visibility: hidden;
   & p{
        margin-top: 45vh;
        background-clip: text;
        color: transparent;
        -webkit-background-clip: text;
        background-image: linear-gradient(#9356DC,#FF79DA);
   }  
}


.loader-spinner {
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 50%;
    border: 3px solid #9356DC;
    position: relative;
    top: 45vh;
    
}

.loader-spinner:after {
    content: '';
    position: absolute;
    top: -3px;
    left: -3px;
    bottom: -3px;
    right: -3px;
    border: 3px solid transparent;
    border-radius: 50%;
    border-top-color: #FF79DA;
    animation: rotate 3s linear infinite;
 
   
}

@keyframes rotate {
    0% {transform: rotate(0deg);}
    50% {transform: rotate(360deg);}
    100% {transform: rotate(720deg);}
}

@keyframes loaderSpinner {
    0% {opacity: 0; visibility: visible;}
    10% {opacity: 0.5;}
    20% {opacity: 0.8;}
    30%{opacity: 1;;}
    50% {opacity: 1;}
    70% {opacity: 0.8;}
    90% {opacity: 0.5;}
    100% {opacity: 0;}
}