main {
    width: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: rgba(233, 233, 233, 0.993);
}

header {
    @include header ;
    position: relative;

    & .fas {
        color: black;
        position: absolute;
        right: 90%;
        top: 22px;
        font-size: 19px;
    }

    h1 { 
        margin-bottom: 10px;
    }
}

img {
    object-fit: cover;
    height: 270px;
    width: 100%;
}

.menuMyfood, .menuMyfood-Delice {
    @include menuMyfood;

    .menuMyfood--title {
       @include list--title;     

        h2 {
            font-family: 'Shrikhand', cursive;
            font-weight: 400;
            font-size: 27px;
        }

        .far {
            font-size: 24px ;
            z-index: 0;
        }  
        
        .fas {
            @include heart;
            left: 82.6%;
            top: 31px;
            font-size: 24px;
            width: 35px; 
            height: 35px;
        }   

        &:hover {
            .far {
                transition-duration: 3s;
                opacity: 0;
            }

            .fas {
                transition-duration: 3s;
                opacity: 1;
            }
        }    
    }
}

.menuMyfood_list { 
    margin-left: 15px;
    margin-bottom: 10px;

    h3 {
        font-size: 16px;
        font-weight: 300;
        border-bottom: 3px solid $tertiary-color;
        width: 11%;
        padding-bottom: 5px;
    }
    
    .menuMyfood_list--bloc {
        @include list--bloc;

        .menuMyfood_list--title {
            flex-grow: 1;
            width: 180px;
            p, h4 {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            }
            
            & h4 {
                font-size: 17px;
                font-weight: 500;
                padding-top: 20px;
                margin-bottom: 0px; 
                margin-top: 2px;
                height: 30px;
            }
            
            & p {
                font-size: 14px;
                font-weight: 100;
                height: 25px;
                padding-top: 15px; 
                margin-right: 10px;
                margin-top: 0;
            }  
        }
        @include animationMenu;

        &:hover {
            @include animationhover;
        }
    }
/*** AGENCEMENT POUR MENU PALETTE ***/
    .menuMyfood_list--palettePlat {
        & p { max-width: 245px; }
    }

/*** AGENCEMENT POUR MENU DELICE ***/
    .menuMyfood_list--blocDelice {
        @include list--bloc;
        height: 88px;
        line-height: 20px;
        @include animationMenu;

        .menuMyfood_list--titleDelice {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            flex-grow: 1;

            h4 {
                font-size: 17px;
                font-weight: 500;
                max-width: 240px;
                padding-top: 10px;
                margin-bottom: 0px; 
                margin-top: 2px;
            }

            & p {
                font-size: 14px;
                font-weight: 100;
                height: 25px;
                margin: 0;
                padding-top: 3px;
            }
    }
        &:hover {
            @include animationhover;
        }  
    }       
} 
/*** MENU DELICE ***/
.menuMyfood-Delice {
    height: 1155px;
}
/*** FIN AGENCEMENT MENU DELICE ***/

.menuMyfood-Francaise {
    height: 1150px;
}

.prix {
   @include price;
}

.prix-Note {
    @include price;
    width: 50px;
    margin-left: 37px
}

.prix-Note_bis {
    @include price;
    width: 50px;
    margin-left: 10px;
}
    
.menuMyfood--button {
    @include button;
    margin-top: 25px;
}

/*** MENU NOTE ***/
.Menu_Note--img {
    height: 250px;
    & img {
        object-position: 0 -95px;
    }
}
.menuNote {
    @include menuMyfood;
    height: 1255px;
    bottom: 30px;

    .menuNote--title {
        @include list--title;

        h2 {
            font-family: 'Shrikhand', cursive;
            font-weight: 400;
            font-size: 27px;
        }  

        .far {
            font-size: 25px ;
            z-index: 0;
            line-height: 0;
        }    
        
        & .fas {
            @include heart;
            left: 82.4%;
            top: 30px;
            font-size: 25px;
            width: 35px;
            height: 35px;
        }    
            &:hover {
                .far {
                    transition-duration: 3s;
                    opacity: 0;
                }
                .fas {
                    transition-duration: 3s;
                    opacity: 1;
                }
            }       
    }
}
 
