main {
    width: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: rgba(233, 233, 233, 0.993);
}

header {
    @include header ;
    position: relative;

    & .fas {
        color: black;
        position: absolute;
        right: 90%;
        top: 22px;
        font-size: 19px;
    }

    h1 { 
        margin-bottom: 10px;
    }
}

img {
    object-fit: cover;
    height: 250px;
    width: 96.7%;
    transform: scale(107%,100%);
}

.menuMyfood, .menuMyfood-Delice {
    display: flex;
    flex-direction: column;
    background-color: rgba(233, 233, 233, 0.993);
    width: 100%;
    height: 1135px;
    border-radius: 30px 30px 0 0; 
    position: relative;
    bottom: 55px;

    .menuMyfood--title {
        margin-top: 5px;
        margin-left: 15px;
        width: 85%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        h2 {
            font-family: 'Shrikhand', cursive;
            font-weight: 400;
            font-size: 27px;
        }

        .far {
            font-size: 24px ;
            z-index: 0;
        }  
        
        .fas {
            @include heart;
            left: 82.4%;
            top: 30px;
            font-size: 25px;
            width: 35px;   
            height: 35px; 
        }   

        &:hover {
            .far {
                transition-duration: 3s;
                opacity: 0;
            }

            .fas {
                transition-duration: 3s;
                opacity: 1;
            }
        }    
    }
}

.menuMyfood_list { 
    margin-left: 15px;
    margin-bottom: 10px;

    h3 {
        font-size: 16px;
        font-weight: 300;
        border-bottom: 3px solid $tertiary-color;
        width: 11%;
        padding-bottom: 5px;
    }
    
    .menuMyfood_list--bloc { /*** FAIRE UNE MIXIN ***/
        border-radius: 15px;
        height: 70px;
        width: 96%;
        background-color: #FFF;
        line-height: 0px;
        padding-left: 10px;
        margin-bottom: 15px;
        box-shadow: 0 5px 10px rgba(158, 158, 158, 0.267);
        cursor: pointer;
        display: flex;
        overflow: hidden;

        .menuMyfood_list--title {
            flex-grow: 1;
            width: 180px;
           p, h4{
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
           }
            
            & h4 {
                font-size: 17px;
                font-weight: 500;
                padding-top: 20px;
                margin-bottom: 0px; 
                margin-top: 2px;
                height: 30px;
            }
            
            & p {
                font-size: 14px;
                font-weight: 100;
                height: 25px;
                padding-top: 15px; 
                margin-right: 10px;
                margin-top: 0;
            }  
        }
        @include animationMenu;

        &:hover {
            @include animationhover;
        }
    }
  
    
    /**** AGENCEMENT POUR MENU PALETTE ****/
    .menuMyfood_list--palettePlat {
        & p { max-width: 245px; }
    }
    /**** AGENCEMENT POUR MENU DELICE ****/
    .menuMyfood_list--blocDelice {
        height: 90px;
        border-radius: 15px;
        width: 96%;
        background-color: #FFF;
        padding-left: 10px;
        margin-bottom: 15px;
        box-shadow: 0 5px 10px rgba(158, 158, 158, 0.267);
        cursor: pointer;
        display: flex;
        overflow: hidden;

        @include animationMenu;

        .menuMyfood_list--titleDelice {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            flex-grow: 1;

            h4 {
                font-size: 17px;
                font-weight: 500;
                max-width: 240px;
                padding-top: 15px;
                margin-bottom: 0px; 
                margin-top: 2px;
            }

            & p {
                font-size: 14px;
                font-weight: 100;
                height: 25px;
                margin: 0;
                padding-top: 3px;
            }
    }
        &:hover {
            @include animationhover;
        }  
    } 
        
} /**** FIN AGENCEMENT MENU DELICE ****/
    .prix {
        transform: translateY(69%);
        width: 55px;
        font-weight: 600;
    }

    .prix-Note {
        transform: translateY(69%);
        width: 50px;
        font-weight: 600;
        margin-left: 35px
    }

.menuMyfood--button {
    @include button;
    margin-top: 25px;
}
/****** MENU NOTE ******/
.Menu_Note--img {
    & img {
        object-position: 0 -85px;
    }
}
.menuNote {
    height: 1255px;
    display: flex;
    flex-direction: column;
    background-color: rgba(233, 233, 233, 0.993);
    width: 100%;
    border-radius: 30px 30px 0 0; 
    position: relative;
    bottom: 30px;

    .menuNote--title
    {
        margin-top: 5px;
        margin-left: 15px;
        width: 85%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .far {
            font-size: 25px ;
            z-index: 0;
        }    
                & .fas {
                    @include heart;
                    left: 82.4%;
                    top: 30px;
                    font-size: 25px;
                    width: 35px;
                }    
                    &:hover {
                        .far {
                            transition-duration: 3s;
                            opacity: 0;
                        }
                        .fas {
                            transition-duration: 3s;
                            opacity: 1;
                        }
                    }         
    }
  
        h2 {
        font-family: 'Shrikhand', cursive;
        font-weight: 400;
        font-size: 27px;
      }
    }

    /**** MENU DELICE ****/
.menuMyfood-Delice{
    height: 1165px;
}
   /*** .menuMyfood--button {
        @include button;
        margin-top: 30px;
    }**/
