
/*** VERSION TABLETTE INDEX.HTML ***/
@media screen and ( min-width: 640px) {
    /***HEADER***/
    header {
        height: 90px;

        h1 {
            font-size: 45px;
        }
    }

    form{
        .header_form {
            margin-left: 10px;
        }

        & ::placeholder {
            font-size: 19px;
        }

        & .fas { 
            font-size: 21px;
        }
    }
   /***RECHERCHES***/
    .reservation_text {
        & h2 { 
            font-size: 30px;
            max-width: none;
        }

        & p {
            font-size: 23px ;
            font-weight: 100;
            color: rgba(78, 78, 78, 0.911);
        }  

        & .reservation_text--button {
            height: 65px;
            width: 300px;
            font-size: 19px;
            margin: auto;
        }
    }  

    /***PARTIE FONCTIONNEMENT***/
    .functioning {
        height: 500px;

        & h3 {
            font-size: 33px;
        }

        .functioning_block {
            align-items: center;
            height: 400px;
            width: 500px;
            margin: auto;
        }

        .functioning_block--element {
            width: 550px;
            height: 90px;
            margin-bottom: 25px;

            & .fas {
                font-size: 25px;
                top: 4px;
                left: 20px;
            }

            & .functioning_block--text {
                left: 115px;
                top: 5px;
                font-size: 29px;
                font-weight: 500;
            }
        }
    }
    /***PARTIE RESTAURANTS***/
    .restaurant {
        width: 100%;
        height: 1750px;
        background-color: #99999917;
    
        h3 {
            font-size: 33px;
        }
        .container_articles{
           height: 1600px;
        }

        article {
            height: 365px;

            .picture_Myfood {
                height: 78%;
                img {
                    object-position: 0 -110px;
                    height: 100%; 
                }
            }
            
            .picture_Note {
                height: 78%;
                img {
                    object-position: 0 -336px ;
                    height: 100%;
                }
            }   
        
            .infos {
                line-height: 30px;
                height: 60px;
    
                & h4 {
                    margin-top: 10px;
                    font-size: 21px;
                }
    
                & p {
                    font-size: 19px;
                }
            }

            .container_articles--relative {
                & p {
                    line-height: 32px;
                    height: 36px;
                    width: 90px;
                    bottom: 290px;
                    right: 20px;
                    font-size: 17px;
                }
            }
           
            .far {
                left: 90%;
                bottom: 25px;
                font-size: 25px;
            }

            .fas {
                left: 90%;
                bottom: 25px;
                font-size: 25px;
            }
        } 
    }

    footer {
            
        h5 {
            font-size: 25px;
        }
    
        ul {
            height: 150px;
            font-size: 23px;
        }
    
        & .fas {
            font-size: 19px;
        }
    }
}

/*** VERSION DESKTOP INDEX.HTML ***/
@media screen and (min-width: 1050px) {

    form{

        .header_form {
            margin-left: 10px;
        }
    }      
    
    .functioning {

        & h3 {
            text-align: center;
        }  

        .functioning_block--element {
            
            & .numbers {
                @include cercle; 
                width: 35px;
                height: 35px;
                line-height: 35px;
            }
        }    
    }
    /***PARTIE RESTAURANTS***/
    .restaurant {
        width: 100%;
        height: 950px;
        background-color: #99999917;
        text-align: center;
    
        h3 {
            font-size: 33px;
        }

        .container_articles{
            margin: 0 15px 0 15px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            height: 800px;
        
            article {
                width: 46%;
                height: 355px;

                .picture_Myfood {
                    height: 280px;

                    img {
                        object-position: 0 0;
                        height: 100%;
                    }
                }
               
                .picture_Note { 
                    height: 280px;

                    img { 
                        object-position: 0 -200px;
                        width: 100%;  
                    }    
                }
    
                .infos {
                    height: 60px;
                    line-height: 30px;
                    margin-left: 0;
    
                    & h4 {
                        font-size: 21px;
                    }
    
                    & p {
                        font-size: 19px;
                    }
                }

                .container_articles--relative {
                    @include newlabel;
                        
                    & p {
                        line-height: 30px;
                        height: 34px;
                        width: 90px;
                        bottom: 290px;
                        right: 20px;
                        font-size: 17px;
                    }
                }
           
                .far {
                    left: 91%;
                    bottom: 23px;
                    font-size: 25px;
                }   

                .fas {
                    left: 91%;
                    bottom: 23px;
                    font-size: 25px;                  
                }
            }       
        }
    }

    footer {
        text-align: center;
    }
}

/*** VERSION TABLETTE MENUS.HTML ***/

@media screen and ( min-width: 640px) {

    header {
        position: relative;
      
        & .fas{
            position: absolute;
            top: 37px;
            right: 92%;
            font-size: 30px;
        }
    }

    img {
        object-fit: cover;
        width: 96.6%;
        height: 250px;
    }


    .menuMyfood, .menuMyfood-Delice { 
        height: 1370px;

        .menuMyfood--title {
            text-align: center;
            justify-content: center;
            width: 96.5%;

            h2 {
                font-size: 30px;
            }

            .far {
                font-size: 25px ;
                position: relative;
                left: 20px;
                z-index: 0;
            }
            
            .fas {
                position: relative;
                left: -10px;
                top: 0px;
                font-size: 26px;
                z-index: 1; 
            }      
        }
    } 
    .menuMyfood-Delice{
        height: 1385px;
    }
    .menuMyfood_list{ 
        width: 100%;
        margin: 0;
    
        h3 {
            margin-left: 35px;
            font-size: 21px;
            width: 7%;
        }
        
        .menuMyfood_list--bloc {
            margin: auto;
            height: 80px;
            width: 70%;
            line-height: 0px;
            padding-left: 10px;
            margin-bottom: 25px;
            box-shadow: 0 5px 10px rgba(158, 158, 158, 0.267);
    
        & h4 {
            margin-top: 10px;
            font-size: 21px;
            font-weight: 500;
        }
        
        & p {
            max-width: 345px;
            font-size: 19px;
            font-weight: 100;
        }
    }
    
        .prix {
            font-weight: 600;
        }
    }
    
        .menuMyfood_list{

            .menuMyfood_list--blocDelice {
                height: 110px;
                width: 70%;
                margin: 25px auto ;
                & h4 {
                    margin-top: 20px;
                    font-size: 21px;
                    font-weight: 500;
                    padding-top: 0;
                }
                
                & p {
                    font-size: 19px;
                    font-weight: 100;
                }
        
            }
        }    
    
/***** MENU NOTE *****/
    .menuNote {
        height: 1490px;
        .menuNote--title {
           
            text-align: center;
            justify-content: center;
            width: 96.5%;
            h2 {
                font-size: 30px;
            }

        .far {
            font-size: 25px ;
            position: relative;
            left: 20px;
            z-index: 0;
        }
         .fas {
            position: relative;
            left: -10px;
            top: 0px;
            font-size: 26px;
            z-index: 1;
       
        }    
    }  
    }

    footer {
        text-align: center;
    }

}


/*** VERSION DESKTOP MENUS.HTML ***/

@media screen and (min-width: 1050px) {
    header {
        position: relative;

        & .fas{
            position: absolute;
            right: 93%;
            top: 30px;
            font-size: 40px;
        }
    }  

    img {
        object-fit: cover;
        height: 400px;
        width: 96.6%;
        object-position: 0;
    }

    .menuMyfood { 
        height: 1370px;

        .menuMyfood--title {
            margin-top: 5px;
            margin-left: 15px;
            text-align: center;
            width: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 96.5%;
            cursor: pointer;

            h2 {
                font-size: 40px;
            }

            .far {
                font-size: 25px ;
                position: relative;
                left: 20px;
            }
        }
        .menuMyfood_list{ 
            width: 96.5%;

            margin-left:15px;
        
            h3 {
                font-size: 21px;
                width: 4%;
                margin-left: 5px;
            }
        }    
    } 
    /*** MENU NOTE ***/
    .menuNote {
        height: 1485px;
    
        .menuNote--title
        {
            margin-top: 5px;
            margin-left: 15px;
            text-align: center;
            width: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
        }
    
        h2 {
            font-size: 40px;
        }
    
        .far {
            font-size: 25px ;
            position: relative;
            left: 20px
        }
    }
    /*** FIN MENU NOTE ***/

    .menuMyfood_list{ 
        margin-left: 15px;
    
        h3 {
            font-size: 21px;
            font-weight: 700;
            width: 4%;
            margin-right: 0;
            position: relative;
            top: 50%;
            left: 2%;
        }
        
        .menuMyfood_list--bloc {
            height: 75px;
            width: 70%;
            margin: auto;
            line-height: 0px;
            padding-left: 10px;
            margin-bottom: 30px;
    
            & h4 {
                font-size: 21px;
                margin-top: 9px;
                height: 35px;
            }
        
            & p {
                max-width: 295px;
                padding-top: 10px;
                font-size: 17px;
            
            }
    
            .prix {
            top: 35px;
            }
        }
    }
}


/*** AGENCEMENT PHOTOS INDEX.HTML ***/
@media screen and (min-width: 1200px) {
    
    .restaurant {
        article {
            .picture_Myfood{
                img {
                    object-position: 0 -90px;
                }
            }
        
            .picture_Note img{ 
                object-position: 0 -250px;
            }
    }
}
} 

@media screen and (min-width: 1500px) {
    
    .restaurant {
        article {
            .picture_Myfood{
                img {
                    object-position: 0 -150px;
                }
            }
        
            .picture_Note img{ 
                object-position: 0 -350px;
            }
    }
}
} 

            