@import "./variables.scss";
header {
    text-align: center;
    height: 50px;
    width: 100%;
    
    h1{
        font-size: 27px;
        margin-top: 20px;
        margin-bottom: 10px;
        font-family: 'Shrikhand', cursive;
    }
}

.reservation_menus{
    background-color: #ddd9d942;
    height: 300px;
    width: 100%;
    text-align: center;
}

    form {
        width: 100%;
        height: 50px;
        background: #9191911c;
        box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.151);
    
    & .header_form {
        padding-top: 15px;
        margin-left: 35px;
    }

    & .teste {
        border: none;
        background: transparent;
    }

    & ::placeholder {
        font-size: 15px;
        color: rgba(26, 26, 26, 0.808);
        font-family: 'Roboto', sans-serif;
        font-weight: 400; 
    }

}
    .reservation_text {


    & h2 { 
        font-size: 23px;
        max-width: 270px;
        margin-left: 45px;
        margin-top: 35px;
        font-family: 'Roboto', sans-serif;
        }
    & p {
        
        font-size: 17px ;
        font-weight: 100;
        color: rgba(78, 78, 78, 0.911);
        font-family: 'Roboto', sans-serif;
    }   

    & .button {
        background-color: $primary-color;
    }
    }
